---
import TourCard from './TourCard.astro';
import { useTranslations, useTranslatedPath } from '../utils/i18n';

interface Props {
  lang: 'en' | 'es';
  tours: any[];
}

const { lang, tours } = Astro.props;
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
  {tours.map((tour, index) => (
    <TourCard 
      lang={lang} 
      tour={tour} 
      t={t} 
      translatePath={translatePath} 
      index={index} 
    />
  ))}
</div>
